<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Collector</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Assign Collector</h2>
        
        <p><strong>Request user :</strong> {{ request.user }} </p>
        <p><strong>collection date :</strong>{{ request.collection_date }}</p>
        <p><strong>collection time :</strong>{{ request.collection_time }}</p>
        <p><strong>Address :</strong>{{request.address}}</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="collector" class="form-label">Select Collector:</label>
                <select id="collector" name="collector" class="form-select">
                    {% for collector in collectors %}
                    <option value="{{ collector.id }}">{{ collector.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Assign</button>
        </form>
       
    </div>
</body>
</html>
